<div class="element-bg-img"><img src="{{activeHotel?.imagesActive?.large}}" alt="{{activeHotel?.name}}" class="img-responsive"></div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li class="anc-bor">
        <a href="#">All</a>
      </li>
      <li class="anc-bor">
        <a href="#">Harads</a>
      </li>
      <li class="anc-bor">
        <a href="#">Jukkasjärvi</a>
      </li>
      <li class="anc-bor">
        <a href="#">Stockholm</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Sweden</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div class="activity-row" *ngFor="let hotel of hotels">
          <div class="activity-desc">
            <h5 class="clickable" (click)="toggleActiveHotel(hotel)">{{hotel.name}}</h5>
            {{hotel.address}}
            <h6>{{hotel.phone}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img src='{{hotel.images.small[0]}}' alt="{{hotel.name}}" class="clickable" (click)="toggleActiveImage(hotel, hotel.images.large[0], hotel.images.small[0])"/></li>
              <li><img src='{{hotel.images.small[1]}}' alt="{{hotel.name}}" class="clickable" (click)="toggleActiveImage(hotel, hotel.images.large[1], hotel.images.small[1])"/></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
